<button class="back-btn" (click)="onBack()">
  <i class="fa-solid fa-arrow-left"></i> Back
</button>

<div class="profile-container">
  <h2>Profile</h2>

  <!-- 프로필 사진 추가 -->
  <div class="profile-picture">
    <img [src]="user.profilePictureUrl" alt="Profile Picture" width="250" height="300">
  </div>


  <form (submit)="onSaveProfile()">
     <!-- 프로필 사진 업로드 추가 -->
  <label for="profilePicture">Profile Picture:</label>
  <input type="file" id="profilePicture" (change)="onFileSelected($event)">
    <label for="username">Username:</label>
    <input type="text" id="username" [(ngModel)]="user.username" name="username" required readonly>

    <label for="email">Email:</label>
    <input type="email" id="email" [(ngModel)]="user.email" name="email" required>

    <label for="firstName">First Name:</label>
    <input type="text" id="firstName" [(ngModel)]="user.firstName" name="firstName" required>

    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" [(ngModel)]="user.lastName" name="lastName" required>

    <button type="submit" class="btn-save">Save Changes</button>
  </form>
</div>
