.profile-container {
  max-width: 500px;
  margin: auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.profile-container form {
  display: flex;
  flex-direction: column;
}

.profile-container label {
  margin-bottom: 5px;
  color: #008080;
}

.profile-container input {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.btn-save {
  padding: 10px;
  background-color: #008080;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-save:hover {
  background-color: #007070;
}

.btn-delete {
  padding: 10px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.btn-delete:hover {
  background-color: darkred;
}

.back-btn i {
  margin-right: 8px; /* 아이콘과 텍스트 사이의 간격 */
}

.back-btn:hover {
  color: #004d4d;
}

.back-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: transparent;
  border: none;
  color: #008080;
  font-size: 1.2em;
  cursor: pointer;
}
.profile-container {
  max-width: 600px;
  margin: 0 auto; /* 전체 컨테이너를 가운데로 */
  text-align: center; /* 텍스트 및 이미지 가운데 정렬 */
}

.profile-picture {
  margin: 20px 0; /* 위아래 여백 추가 */
}

.profile-picture img {
  border-radius: 20%; /* 원형 프로필 사진 */
  display: block;
  margin: 0 auto; /* 이미지 자체를 가운데 정렬 */
}


