/* Super Admin 전체 네비게이션 바 스타일 */
.user-dashboard-navigation {
  background-color: #004d4d;
  color: white;
  padding: 15px 20px;
  display: flex;
  justify-content: flex-start;
  margin-left: 17%;
}

.user-dashboard-navigation ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.user-dashboard-navigation ul li {
  color: white;
  cursor: pointer;
  font-weight: bold;
  transition: color 0.3s ease;
}

.user-dashboard-navigation ul li:hover {
  text-decoration: underline;
}

.user-dashboard-navigation ul li.active {
  text-decoration: underline;
  color: #00cccc;
}

/* User Dashboard 페이지의 스타일 정의 */
h1 {
  color: #5a5a5a;
}

p {
  font-size: 18px;
}

/* 기존의 대시보드 및 nav-bar 스타일 */
.dashboard-container {
  display: flex;
}

.dashboard-content {
  margin-left: 250px;
  padding: 20px;
}

/* 그룹들을 감싸는 컨테이너 */
.groups-container {
  display: flex;
  flex-direction: column;
  gap: 20px; /* 그룹 간 간격 설정 */
}

/* 각 그룹 항목의 스타일 */
.group-item {
  max-width: 500px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.group-item:hover {
  transform: translateY(-5px); /* 호버 시 살짝 올라가는 효과 */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2)
}
.dashboard-content {
  margin-left: 250px; /* NavBar와의 간격 */
  padding: 20px;
}
