/* User Dashboard 페이지의 스타일 정의 */
h1 {
  color: #5a5a5a;
}

p {
  font-size: 18px;
}
/* 기존의 대시보드 및 nav-bar 스타일 */
.dashboard-container {
  display: flex;
}
.dashboard-content {
  margin-left: 250px; /* NavBar와의 간격 */
  padding: 20px;
}